:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #000000;
  --secondary: #888888;
  --border: #e5e5e5;
  --gray-light: #f3f3f3;
  --font-main: 'Inter', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary: #ffffff;
    --secondary: #a1a1a1;
    --border: #333333;
    --gray-light: #1a1a1a;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--font-main);
  background: var(--background);
  color: var(--foreground);
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  font: inherit;
}